# Test and calibration data
/pyTEM/test/data/
/pyTEM/test/TEMInferace Testing Log.xlsx
/pyTEM/test/image_shift_calibration/Calibration_Data/
/pyTEM/test/image_shift_calibration/Image Shift Calibration.xlsx
/pyTEM/test/test_images/

# Distribution/packaging
/build/
/pyTEM.egg-info/
/pytem_dependencies/

# Other
.idea/workspace.xml
/pyTEM_scripts/test/micro_ed/check_message_ordering.py
*__pycache__
